@page "/delete-customer/{Id:int}"

@using CRM.DTOs.CustomerDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using CRM.AppWebBlazor.Data;

<h3>Eliminar Cliente</h3>
@if (isSuccess == false && isError == false)
{
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="Name">Nombre:</label>
                <input type="text" class="form-control" disabled @bind="customer.Name" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="LastName">Apellido:</label>
                <input type="text" class="form-control" disabled @bind="customer.LastName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="Address">Dirección:</label>
                <textarea disabled class="form-control" @bind="customer.Address"></textarea>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" @onclick="async () => await Delete()">Eliminar</button>
            <NavLink href="customer-list" class="btn btn-secondary">Cancelar</NavLink>
        </div>
    </div>
} else if (isSuccess)
{
    <p class="alert alert-success">Cliente se elimino con éxito.</p>
    <NavLink href="customer-list" class="btn btn-primary">Aceptar</NavLink>
}
else if (isError)
{
    <p class="alert alert-error">Sucedio un error al intentar eliminar</p>
    <NavLink href="customer-list" class="btn btn-primary">Aceptar</NavLink>
}
@code {
    // Declaración de un parámetro llamado "Id" que puede ser pasado al componente
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de CustomerService para acceder a los servicios relacionados con los clientes
    [Inject]
    CustomerService customerService { get; set; }

    // Declaración e inicialización de un objeto "customer" para almacenar la información del cliente
    GetIdResultCustomerDTO customer = new GetIdResultCustomerDTO();

    // Declaración de variables booleanas para manejar el estado de éxito y error
    bool isSuccess = false;
    bool isError = false;

    // Método que se llama cuando se inicializa el componente
    protected override async Task OnInitializedAsync()
    {
        // Realiza una llamada asincrónica para obtener la información del cliente por su Id
        customer = await customerService.GetById(Id);
    }

    // Método para eliminar el cliente
    private async Task Delete()
    {
        // Realiza una llamada asincrónica para eliminar el cliente por su Id
        int result = await customerService.Delete(customer.Id);

        // Verifica si el resultado de la eliminación es diferente de cero (éxito) o igual a cero (error)
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }

}
