@page "/edit-customer/{Id:int}"

@using CRM.DTOs.CustomerDTOs;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using CRM.AppWebBlazor.Data;

@if (isSuccess == false && isError == false)
{
    <h3>Modificar Cliente</h3>

    <EditForm Model="customer" OnValidSubmit="Edit">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="Name">Nombre:</label>
                    <InputText class="form-control" @bind-Value="customer.Name" />
                    <ValidationMessage For="() => customer.Name" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="LastName">Apellido:</label>
                    <InputText class="form-control" @bind-Value="customer.LastName" />
                    <ValidationMessage For="() => customer.LastName" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Address">Dirección:</label>
                    <InputTextArea class="form-control"  @bind-Value="customer.Address" />
                    <ValidationMessage For="() => customer.Address" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Modificar</button>
                <NavLink href="customer-list" class="btn btn-secondary">Cancelar</NavLink>
            </div>
        </div>
    </EditForm>
}
else if (isSuccess)
{
    customer = new EditCustomerDTO();
    isError = false;
    <p class="alert alert-success">Cliente se modifico con éxito.</p>
    <NavLink href="customer-list" class="btn btn-primary">Aceptar</NavLink>
}
else if (isError)
{
    <p class="alert alert-error">Sucedio un error al intentar modificar. o no ha realizado ninguna modificacion al registro actual</p>
    <NavLink href="customer-list" class="btn btn-primary">Aceptar</NavLink>
}

@code {    
    // Declaración de un parámetro llamado "Id" que puede ser pasado al componente
    [Parameter]
    public int Id { get; set; }

    // Inyección de dependencia de CustomerService para 
    // acceder a los servicios relacionados con los clientes
    [Inject]
    CustomerService customerService { get; set; }

    // Declaración e inicialización de un objeto "customer"
    //  para almacenar los detalles del cliente
    EditCustomerDTO customer = new EditCustomerDTO();

    // Declaración de variables booleanas para manejar el estado de éxito y error
    bool isSuccess = false;
    bool isError = false;

    // Método que se llama cuando se inicializa el componente
    protected override async Task OnInitializedAsync()
    {
        // Realiza una llamada asincrónica para obtener los 
        // detalles del cliente por su Id
        var customerDetail = await customerService.GetById(Id);

        // Inicializa el objeto "customer" con los detalles del cliente obtenidos
        customer = new EditCustomerDTO(customerDetail);
    }

    // Método para editar el cliente
    private async Task Edit()
    {
        // Realiza una llamada asincrónica para editar la información del cliente
        int result = await customerService.Edit(customer);

        // Verifica si el resultado de la edición es diferente 
        // de cero (éxito) o igual a cero (error)
        if (result != 0)
            isSuccess = true;
        else
            isError = true;
    }

}
